div{ 
   

}

.contianer{
    display: flex;
    flex-direction: row;
    height: 500px;
    
}

.head{
    display: flex;
    flex-direction: column;
    background-color: deepskyblue;
    color: white;
    height: 80px;
    text-shadow: 0 0 3px #FF0000;
}

.left{
    /* float: left; */
    width: 15%;
    background-size: 100px ;
    background-color: seashell;

    
    
}

.body{
   /* float: left; */
   width: 65%;
   background-color: rgb(220, 245, 255);

 
}


.right{
    width: 20%;
    background-color : rgb(255, 220, 216);
    align: center;
    box-shadow: 50cm red ;
    
}


.p1{
    border: 1px solid black;
    background-color: rgb(193, 213, 250);
    height: 40px;
    text-align: left;


}

.footer{
    display: flex;
    flex-direction: column;
    background-color: deepskyblue;
    color: white;
    height: 50px;
    text-align: center;
    
}

